{% extends 'base.html' %}
{% load i18n %}
{% load avatar_tags %}

{% block title %}
{# title #}
{% translate "Add Avatar" %}
{% endblock title %}

{% block main %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          {% translate "Add Avatar" as add_ava_tr %}
          <h2>{{add_ava_tr}}</h2>
          <ol>
            <li><a href="{% url 'address:home' %}">{% translate "Home" %}</a></li>
            <li><a href="{{ request.user.user_profile.get_absolute_url }}">{% translate "Profile" %}</a></li>
            <li>{{add_ava_tr}}</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page pt-4 extra-forms">
      <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8 col-md-10 col-sm-12">
                  <div class="card my-2" >
                        <div class="card-body">
                        <h3>{% translate "Your current avatar:"  %}</h3>
                        {% avatar user 100 class="img-circle img-responsive" id="user_avatar" %}
                        {% if not avatars %}      
                          <p>{% translate "You haven't uploaded an avatar yet. Please upload one now."%}</p>
                        {% endif %}
                        <form enctype="multipart/form-data" class="row g-3" method="POST" action="{% url 'avatar_add' %}">
                            {% include  'includes/upload_avatar_form.html' %}
                            {% csrf_token %}
                            <div class="col-auto">
                              <button type="submit" class="btn btn-primary mb-3">{% translate "Upload New Image" %} <i class="fa fa-upload mr-2 mx-1"></i></button> 
                          </div> 
                        </form>
                </div>
              </div>
        </div>
      </div>
      </div>
    </section>

  </main>
  <!-- End #main -->

{% endblock main %}