{% extends 'base.html' %}
{% load avatar_tags %}

{% block title %}
Delete Avatar
{% endblock title %}

{% block main %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Delete Avatar</h2>
          <ol>
            <li><a href="{% url 'address:home' %}">Home</a></li>
            <li><a href="{{ request.user.user_profile.get_absolute_url }}">Profile</a></li>
            <li>Delete Avatar</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page pt-4 extra-forms">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-10 col-sm-12">
               <div class="card my-2" >
                    <div class="card-body">
                          <h3 class="card-title">Please select the avatars that you would like to delete</h3> 
                          {% if not avatars %}
                              {% url 'avatar_change' as avatar_change_url %}
                              <h4>You have no avatars to delete. Please <a href="{{ avatar_change_url }}">upload one</a> now.</h4>
                          {% else %}
                              <form method="POST" class="row g-3" action="{% url 'avatar_delete' %}">
                                
                                    {% include  'includes/del_avatar_form.html' %}
                                    {% csrf_token %}
                                  <div class="col-auto">
                                      <button type="submit" class="btn btn-danger mb-3">Delete <i class="fa fa-trash-o mr-2 mx-1"></i></button> 
                                  </div> 
                              </form>
                          {% endif %}
                      </div>
                    </div>
              </div>
            </div>
      </div>
    </section>

  </main>
  <!-- End #main -->

{% endblock main %}