{% extends 'base.html' %}
{% load static %}

{% block title %}
Dalil
{% endblock title %}

{% block nav_home %}active{% endblock %}

{% block main %}

 {# ======= Hero Section ======= #}
 <section id="hero">
    <div class="hero-container" data-aos="fade-in">
      <h1>Welcome to Dalil</h1>
      <h2 class="quickTitle"> Quick search, name the product &amp; Governorate ..</h2>
      <form action="{% url 'address:product_list' %}">
            <div class="row mx-2">
                  <div class="form-group col">
                    <label for="ProductName">Product name</label>
                    <input name="q1" class="form-control form-control-lg" type="text" placeholder="Produ...">
                  </div>
                  <div class="form-group col">
                    <label for="Governorate">Governorate</label>
                    <select name="q2" class="form-control form-control-lg">
                      <option value="" selected>Choose...</option>
                      {% for key, value in govs %}
                      <option value="{{key}}">{{ value }}</option>
                      {% endfor %}
                      
                    </select>
                  </div>
          </div>
          <div class="row mx-2">
                  <div class="form-group col advancedSearch">
                    <label for="PlaceName">Place name</label>
                    <input name="q3" class="form-control form-control-lg" type="text" placeholder="place...">
                  </div>
                  <div class="form-group col advancedSearch">
                    <label for="Address">address</label>
                    <input name="q4" class="form-control form-control-lg" type="text" placeholder="addre...">
                  </div>
          </div>
          <div class="row mx-2">                  
                  <div class="form-group col advancedSearch">
                    <label for="Description">Description</label>
                    <input name="q5" class="form-control form-control-lg" type="text" placeholder="Any thing related to product">
                  </div>
                  <div class="form-group col advancedSearch">
                    <label for="Category">Category</label>
                    <select name="q6" class="form-control form-control-lg">
                      <option value="" selected>Choose...</option>
                      {% for cat in category %}
                      <option value="{{cat.CAname}}">{{ cat.CAname }}</option>
                      {% endfor %}
                      
                    </select>
                  </div>
          </div>
          <div class="mx-2">
            <button type="submit" class="btn btn-dark btn-lg btn-block bx-2">Search <i class="fa fa-search"></i></button>
          </div>  
      </form>
      <div class="btns mt-4">
        <button class="btn btn-dark advancedBtn"><i class="fa fa-search-plus quickTitle"></i><i class="fa fa-search-minus advancedSearch"></i> Advanced search</button>
      </div>
    </div>
  </section>
  {# End Hero Section #}

  <main id="main">

    

  </main>
  {# End main #}

{% endblock main %}