{% extends 'base.html' %}
{% load static %}
{% load el_pagination_tags %}
{% block title %}
{{shop.SHname}}
{% endblock title %}

{% block main %}

<main id="main">

    {#  ======= Breadcrumbs ======= #}
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>{{shop.SHname}} </h2>
          <ol>
            <li><a href="{% url 'address:home' %}">Home</a></li>
            <li><a href="{% url 'address:place_list' %}">Places</a></li>
            <li>{{shop.SHname}}</li>
          </ol>
        </div>

      </div>
    </section>
    {# End Breadcrumbs #} 

    <section  class="inner-page pt-4">
      <div class="container">
        <div class=" m-5">
                <div class="flex-row row">
                        <div class="col-md-6 col-lg-6 mt-4">

                          <h3>{{shop.SHname}}
                            {% if shop.SHcreated_by == user or user.is_superuser %}
                            <a class="dropdown-toggle" href="#" id="Dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <img class="setting-icon" src="{% static 'img/gear-icon.png' %}" >
                            </a>
                            <div class="dropdown-menu mr-3 " aria-labelledby="navbarDropdown">
                              
                              <a class="dropdown-item" href="{% url 'address:add_product' shop.pk %}">
                                <i class="fa fa-plus fa-3x mr-2"></i>Add Product
                              </a>
                              
                              <a class="dropdown-item" href="{% url 'address:edit_place'  shop.pk   shop.SHslug %}">
                                <i class="fa fa-pencil-square-o mr-2"></i>Edit
                              </a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item alert-danger" data-target="#confirm-del" type="button" data-toggle="modal">
                                <i class="fa fa-trash mr-2"></i>DELETE
                              </a>
                            </div>
                            {# Modal #}
                                <div class="modal fade" id="confirm-del" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        Are you sure you want to delete "{{shop.SHname}}"?
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <a href="{% url 'address:delete_shop' shop.pk %}" class="btn btn-danger">DELETE</a>
                                        
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            {%endif%} 
                          </h3>
                          <h4 class="mt-3">{{shop.SHtype}}</h4>
                          <h4 class="mt-3">{{shop.get_SHgover_display}}</h4>
                          <h4 class="mt-3">{{shop.SHaddress}}</h4>
                          {% if shop.SHnum %}
                          <h4 class="mt-3">Num : {{shop.SHnum }}</h4>
                          {% else %}
                          <h4 class="mt-3">Num : None </h4>
                          {% endif %}
                          <h4 class="mt-3">Created at : {{shop.SHcreated_dt}}</h4>
                          <h4 class="mt-3">Created by :<a href="{{shop.SHcreated_by.user_profile.get_absolute_url}}"> {{shop.SHcreated_by}} </a></h4>
                          {% if shop.SHupdated_dt %}
                          <hr>
                          <h4 class="mt-3">Updated at : {{shop.SHupdated_dt}}</h4>
                          <h4 class="mt-3">Updated by : {{shop.SHupdated_by}}</h4>
                          {% endif %}
                          
                        </div>
                        <div class="col-md-6 col-lg-6 mt-4">
                              <div class="embed-responsive embed-responsive-16by9">
                                  <iframe class="embed-responsive-item"   src="https://maps.google.com/maps?q={{shop.SHlocation.y}},{{shop.SHlocation.x}}&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                              </div>
                        </div> 
                </div>

                <hr>
                {# Rounded switch #} 
                <label class="switch">
                  <input type="checkbox" class="toggleBtn">
                  <span class="slider round"></span>
                </label>
                
                <div class="container toggle">
                        <form method="GET">
                          <div class="row">
                              <div class="col-md-6 col-lg-6 mt-4">
                                <input name="q1" class="form-control form-control-lg" type="text" placeholder="Produ...">
                              </div>
                          </div>
                        <button type="submit" class="col-md-6 col-lg-6 mt-4 btn btn-dark btn-lg btn-block mt-3">Search <i class="fa fa-fw fa-search"></i></button>
                        </form>
                      <div class="table-responsive mt-5">

                        <table class="table table-hover table-dark ">
                            <thead>
                              <tr>
                                <th scope="col"></th>
                                <th scope="col">Product name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Price</th>
                                <th scope="col">Category</th>
                                <th scope="col">image</th>
                                <th scope="col">refrance</th>
                                {% if shop.SHcreated_by == user or user.is_superuser %}
                                <th scope="col">Edit</th>
                                <th scope="col">DELETE</th>
                                {% endif %}
                              </tr>
                            </thead>
                            {% paginate 5 products %}
                            <tbody class="endless_content_wrapper">
                              {% include page_template %}
                            </tbody>
                          </table>
                          {% show_more "even more" "working" "btn btn-primary"%}
                        </div>  

                </div>
        </div>
      </div>
    </section>

  </main>
  {# End #main #}

{% endblock main %}
{% block extrajs %}
{{ block.super }}
<script src="{%static 'js/el-pagination.js'%}"></script>
<script>
  $.endlessPaginate({
      paginateOnScroll: true,
      paginateOnScrollMargin: 20,
      paginateOnScrollChunkSize: 5,
      contentSelector: '.endless_content_wrapper',
  });
</script>
{% endblock extrajs %}