{% extends 'base.html' %}
{% load static %}
{% load el_pagination_tags %}
{% block title %}
Places
{% endblock title %}
{% block nav_places %} active {% endblock %}
{% block main %}

<main id="main">

  {#  ======= Breadcrumbs ======= #}
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Places</h2>
          <ol>
            <li><a href="{% url 'address:home' %}">Home</a></li>
            <li>Places</li>
          </ol>
        </div>

      </div>
    </section>
    {# End Breadcrumbs #}

    <section class="inner-page pt-4">
      <div class="container">

            <form method="GET">
                <div class="row">
                  <div class="col">
                    <input name="q3" class="form-control form-control-lg" type="search" placeholder="Plac...">
                  </div>
                  <div class="col">
                    <select name="q7" class="form-control form-control-lg">
                        <option value="" selected>type...</option>
                        {% for type in types %}
                        <option value="{{type}}">{{ type }}</option>
                        {% endfor %}  
                     </select>
                  </div>
                  <div class="col">
                    <select name="q2" class="form-control form-control-lg">
                        <option value="" selected>gover...</option>
                        {% for key, value in govs %}
                        <option value="{{key}}">{{ value }}</option>
                        {% endfor %}  
                     </select>
                  </div>
                </div>
                <button type="submit" class="btn btn-dark btn-lg btn-block mt-3">Search <i class="fa fa-search"></i></button>
              </form>
          <div class="table-responsive mt-5">
            <table class="table table-hover table-dark ">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Place name</th>
                    <th scope="col">Place type</th>
                    <th scope="col">Gover</th>
                    <th scope="col">Address</th>
                    <th scope="col">Number</th>
                    <th scope="col">Offered products</th>
                  </tr>
                </thead>
                {% paginate shops %}
                <tbody class="endless_content_wrapper">
                  {% include page_template %}
                </tbody>
              </table>
              {% show_more "even more" "working" "btn btn-primary"%}
            </div>  

      </div>
    </section>

  </main>
  {# End #main #}

{% endblock main %}
{% block extrajs %}
{{ block.super }}
<script src="{%static 'js/el-pagination.js'%}"></script>
<script>
  $.endlessPaginate({
      paginateOnScroll: true,
      paginateOnScrollMargin: 20,
      paginateOnScrollChunkSize: 5,
      contentSelector: '.endless_content_wrapper',
  });
</script>
{% endblock extrajs %}