{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load el_pagination_tags %}
{% block title %}
{# title #}
{% translate "Places" %}
{% endblock title %}
{% block nav_places %} active {% endblock %}
{% block main %}

<main id="main">

  {#  ======= Breadcrumbs ======= #}
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          {% translate "Places" as places_tr %}
          <h2>{{places_tr}}</h2>
          <ol>
            <li><a href="{% url 'address:home' %}">{% translate "Home" %}</a></li>
            <li>{{places_tr}}</li>
          </ol>
        </div>

      </div>
    </section>
    {# End Breadcrumbs #}

    <section class="inner-page pt-4">
      <div class="container">
        <div class="m-2"> 
            <form method="GET">
                <div class="row">
                  <div class="col">
                    <input name="q3" class="form-control form-control-lg" type="search" placeholder="{% translate 'Place name' %}">
                  </div>
                  <div class="col">
                    <select name="q7" class="form-control form-control-lg">
                        <option value="" selected>{% translate "type..." %}</option>
                        {% for type in types %}
                        <option value="{{type}}">{{ type }}</option>
                        {% endfor %}  
                     </select>
                  </div>
                  <div class="col">
                    <select name="q2" class="form-control form-control-lg">
                        <option value="" selected>{% translate "gover..." %}</option>
                        {% for key, value in govs %}
                        <option value="{{key}}">{{ value }}</option>
                        {% endfor %}  
                     </select>
                  </div>
                </div>
                <button type="submit" class="btn btn-dark btn-lg btn-block mt-3">{% translate "Search" %} <i class="fa fa-search"></i></button>
              </form>
          <div class="table-responsive mt-5">
            <table class="table table-hover table-dark ">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">{% translate "Place name"%}</th>
                    <th scope="col">{% translate "Place type"%}</th>
                    <th scope="col">{% translate "Gover"%}</th>
                    <th scope="col">{% translate "Address"%}</th>
                    <th scope="col">{% translate "Number" %}</th>
                    <th scope="col">{% translate "Offered products" %}</th>
                  </tr>
                </thead>
                {% paginate shops %}
                <tbody class="endless_content_wrapper">
                  {% include page_template %}
                </tbody>
              </table>
              {% show_more "even more" "working" "btn btn-info btn-sm"%}
            </div>  
        </div>
      </div>
    </section>

  </main>
  {# End #main #}

{% endblock main %}
{% block extrajs %}
{{ block.super }}
<script src="{%static 'js/el-pagination.js'%}"></script>
<script>
  $.endlessPaginate({
      paginateOnScroll: true,
      paginateOnScrollMargin: 20,
      paginateOnScrollChunkSize: 5,
      contentSelector: '.endless_content_wrapper',
  });
</script>
{% endblock extrajs %}