{% extends 'base.html' %}

{% block title %}
Places
{% endblock title %}

{% block main %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Places</h2>
          <ol>
            <li><a href="{% url 'address:home' %}">Home</a></li>
            <li>Places</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page pt-4">
      <div class="container">
        <p class=" m-5">
            <form method="GET">
                <div class="row">
                  <div class="col">
                    <input name="q3" class="form-control form-control-lg" type="text" placeholder="Plac...">
                  </div>
                  <div class="col">
                    <select name="q2" class="form-control form-control-lg">
                        <option value="" selected>Choose...</option>
                        {% for key, value in govs %}
                        <option value="{{key}}">{{ value }}</option>
                        {% endfor %}  
                     </select>
                  </div>
                </div>
                <button type="submit" class="btn btn-dark btn-lg btn-block mt-3">Search</button>
              </form>
          <div class="table-responsive mt-5">
            <table class="table table-hover table-dark ">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Place name</th>
                    <th scope="col">Place type</th>
                    <th scope="col">Gover</th>
                    <th scope="col">Address</th>
                    <th scope="col">Number</th>
                    <th scope="col">Offered products</th>
                  </tr>
                </thead>
                <tbody>
                {% for shop in shops %}    
                  <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td><a href="{{shop.get_absolute_url}}">{{shop.SHname}}</a></td>
                    <td>{{shop.SHtype}}</td>
                    <td>{{shop.get_SHgover_display}}</td>
                    <td>{{shop.SHaddress}}</td>
                    <td>{{shop.SHnum}}</td>
                    <td>
                        {% if shop.get_product_count > 0 %}
                            <strong>{{ shop.get_product_count }}</strong>
                        {% else %}
                          No products added
                        {% endif %}      
                    </td>
                  </tr>
                {% empty %}
                <p class="clo alert alert-danger text-center"><strong> NO SHOPS HAS FOUND!!</strong></p>
                {% endfor %}  
                </tbody>
              </table>
            </div>  
        </p>
      </div>
    </section>

  </main>
  <!-- End #main -->

{% endblock main %}