{% extends 'base.html' %}

{% block title %}
Change password
{% endblock title %}

{% block nav_change_pass %} active{% endblock %}

{% block main %}

<main id="main">

  {#  ======= Breadcrumbs ======= #}
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Change password</h2>
          <ol>
            <li><a href="{% url 'address:home' %}">Home</a></li>
            <li>Change password</li>
          </ol>
        </div>

      </div>
    </section>
    {# End Breadcrumbs #} 

    <section class="inner-page pt-4 auth-forms">
      <div class="container">
        <div class="row justify-content-center">
             <div class="col-lg-8 col-md-10 col-sm-12">
                  <div class="card my-2" >
                       <div class="card-body">
                            <h3 class="card-title">Change password</h3> 
                            <form method="post" novalidate >
                                {% csrf_token %}
                                {% include  'includes/form.html' %}
                                
                                <button type="submit" class="btn btn-dark btn-lg btn-block">Change password <i class="fa fa-check mr-2 mx-1"></i></button>  
                          </form>
                       </div>
                   </div>
              </div>
          </div>
      </div>
    </section>

  </main>
  {# End #main #}

{% endblock main %}