{% extends 'base.html' %}

{% block title %}
Login
{% endblock title %}

{% block main %}

<main id="main">

  {#  ======= Breadcrumbs ======= #}
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Login</h2>
          <ol>
            <li><a href="{% url 'address:home' %}">Home</a></li>
            <li>Login</li>
          </ol>
        </div>

      </div>
    </section>
    {# End Breadcrumbs #} 

    <section id="login-form" class="inner-page pt-4">
      <div class="container">
        <div class="row justify-content-center">
           <div class="col-lg-8 col-md-10 col-sm-12">
               <div class="card my-2" >
                    <div class="card-body">
                          <h3 class="card-title">Login</h3> 
                          <form method="post" novalidate >
                              {% csrf_token %}
                              {% include  'includes/form.html' %}
                              
                              <button type="submit" class="btn btn-dark btn-lg btn-block">Login <i class="fa fa-sign-in mr-2 mx-1"></i></button>  
                        </form>
                    </div>
                    <div class="card-footer text-muted text-center">
                      Create New account <a href="{%url 'accounts:signup'%}">Sign Up</a>
                      <h5 class="mt-1">Lost your password? <a href="{% url 'accounts:password_reset_form' %}">Reset</a></h5>
                   </div>
                  </div>
              </div>
          </div>
      </div>
    </section>

  </main>
  {# End #main #}

{% endblock main %}