{% extends 'base.html' %}

{% block title %}
Password reset complete
{% endblock title %}

{% block main %}

<main id="main">

  {#  ======= Breadcrumbs ======= #}
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Password reset complete</h2>
          <ol>
            <li><a href="{% url 'address:home' %}">Home</a></li>
            <li>Password reset complete</li>
          </ol>
        </div>

      </div>
    </section>
    {# End Breadcrumbs #}

    <section class="inner-page pt-4">
      <div class="container">
        <div class="m-2">
            <h1>The password has been changed!</h1>
            <p><a href="{% url 'accounts:login' %}">Login</a></p>
        </div>
      </div>
    </section>

  </main>
  {# End #main #}

{% endblock main %}