{% extends 'base.html' %}
{% load i18n %}
{% block title %}
{# title #}
{% translate "Reset password" %}
{% endblock title %}

{% block main %}

<main id="main">

  {#  ======= Breadcrumbs ======= #}
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          {% translate "Reset password" as re_pass_tr %}
          <h2>{{re_pass_tr}}</h2>
          <ol>
            <li><a href="{% url 'address:home' %}">{% translate "Home" %}</a></li>
            <li>{{re_pass_tr}}</li>
          </ol>
        </div>

      </div>
    </section>
    {# End Breadcrumbs #}

    <section class="inner-page pt-4 reset-forms">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-10 col-sm-12">
               <div class="card my-2" >
                    <div class="card-body">
                          <h3 class="card-title">{{re_pass_tr}}</h3>
                                    <form method="post" novalidate >
                                        {% csrf_token %}
                                        {% include  'includes/form.html' %}
                    
                                          <button type="submit" class="btn btn-dark btn-lg btn-block">{{re_pass_tr}}</button>  
                                    </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </section>

  </main>
  {# End #main #}

{% endblock main %}