{% extends 'base.html' %}
{% load avatar_tags %}
{% load static %}

{% block title %}
Profile
{% endblock title %}
{% block nav_profile %} active {% endblock %}

{% block main %}

<main id="main">

  {#  ======= Breadcrumbs ======= #}
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Profile</h2>
          <ol>
            <li><a href="{% url 'address:home' %}">Home</a></li>
            <li>Profile</li>
          </ol>
        </div>

      </div>
    </section>
    {# End Breadcrumbs #}

    <section class="inner-page pt-4">
      <div class="container">
        <p class="m-5">
            
            <div class="flex-row row">
              <div class="col-md-6 col-lg-6 mt-4">
              {% if request.user|has_avatar %}
                {% avatar user 120 class="img-circle img-responsive" id="user_avatar" %}
              {% else %}
                <img src="{% static 'img/ninja_avatar.png' %}" class="img-circle img-responsive" id="user_avatar" width="100" height="100" >
              {% endif %}
              <h3>
                 {% if profile.PRuser.first_name%}
                     {{profile.PRuser.first_name}}
                 {% else %}     
                {{profile.PRuser}}
                {% endif %}

              </h3>
              <h4>                            
                {% if profile.PRuser == user %}
                <a class="dropdown-toggle" href="#" id="Dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img class="setting-icon" src="{% static 'img/gear-icon.png' %}" >
                </a>
                <div class="dropdown-menu mr-3 " aria-labelledby="navbarDropdown">
                  
                  <a class="dropdown-item" href="{% url 'avatar_change' %}">
                    <i class="fa fa-plus fa-3x mr-2"></i>Change your avatar
                  </a>
                  
                  <a class="dropdown-item" href="{% url 'accounts:edit_profile' %}">
                    <i class="fa fa-pencil-square-o mr-2"></i>Edit
                  </a>
                  <a class="dropdown-item" href="{% url 'accounts:password_change' %}">
                    <i class="fa fa-key mr-2"></i>Change password
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'address:add_place' %}">
                    <i class="fa fa-plus mr-2"></i>Add place
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item alert-danger" href="{% url 'avatar_delete' %}">
                    <i class="fa fa-sign-out mr-2"></i>Delete Avatar
                  </a>
                </div>
                {%endif%} 
              </h4>
              <h4 class="my-3">
                 <strong>Places created: </strong>
                 {% if profile.get_shop_count > 0 %}
                   {{ profile.get_shop_count}}
                 {% else %}
                     No products added
                 {% endif %} 
              </h4>

              </div>
              <div class="col-md-6 col-lg-6 mt-4">
                {% if profile.PRbio %}
                  {{profile.PRbio}}
                {% endif %}
              </div>

              <hr>
              {# Rounded switch #} 
              <label class="switch">
                <input type="checkbox" class="toggleBtn">
                <span class="slider round"></span>
              </label>

              <div class="container toggle">
                    <div class="table-responsive mt-5">

                      <table class="table table-hover table-dark ">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Place name</th>
                              <th scope="col">Place type</th>
                              <th scope="col">Gover</th>
                              <th scope="col">Address</th>
                              <th scope="col">Number</th>
                              <th scope="col">Created at</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for shop in shops %}    
                            <tr>
                              <th scope="row">{{forloop.counter}}</th>
                              <td><a href="{{shop.get_absolute_url}}">{{shop.SHname}}</a></td>
                              <td>  {{shop.SHtype}}</td>
                              <td>{{shop.get_SHgover_display}}</td>
                              <td>  {{shop.SHaddress}}</td>
                              <td>{{shop.SHnum}}</td>
                              <td> {{shop.SHcreated_dt}}</td>
                          {% empty %}  
                            <p class="clo alert alert-danger text-center"><strong> NO PLACES HAS FOUND!!!</strong></p>
                          {% endfor %}  
                          </tbody>
                        </table>
      </div>
 

  </div>
                 
        </p>
      </div>
    </section>

  </main>
  {# End #main #}

{% endblock main %}