{% extends 'base.html' %}
{% load avatar_tags %}
{% load static %}

{% block title %}
Profile
{% endblock title %}

{% block main %}

<main id="main">

  {#  ======= Breadcrumbs ======= #}
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Profile</h2>
          <ol>
            <li><a href="{% url 'address:home' %}">Home</a></li>
            <li>Profile</li>
          </ol>
        </div>

      </div>
    </section>
    {# End Breadcrumbs #}

    <section class="inner-page pt-4">
      <div class="container">
        <p class="m-5">
            
            <div class="flex-row row">
              <div class="col-md-6 col-lg-6 mt-4">
              
                {% avatar profile.PRuser 120 class="img-circle img-responsive" id="user_avatar" %}

              <h3>
                 {% if profile.PRuser.first_name and profile.PRuser.last_name %}
                     {{profile.PRuser.first_name}} {{profile.PRuser.last_name}} {% include  'includes/user_settings_icon.html' %}
                 {% elif profile.PRuser.first_name %}
                     {{profile.PRuser.first_name}} {% include  'includes/user_settings_icon.html' %}
                 {% else %}     
                     {{profile.PRuser}} {% include  'includes/user_settings_icon.html' %}
                 {% endif %}

              </h3>
              <h4 class="my-3">
                 <strong>Places created: </strong>
                 {% if profile.get_shop_count > 0 %}
                   {{ profile.get_shop_count}}
                 {% else %}
                     No products added
                 {% endif %} 
              </h4>

              </div>
              <div class="col-md-6 col-lg-6 mt-4">
                {% if profile.PRbio %}
                  {{profile.PRbio | safe }}
                {% endif %}
              </div>

              <hr>
              {# Rounded switch #} 
              <label class="switch">
                <input type="checkbox" class="toggleBtn">
                <span class="slider round"></span>
              </label>

              <div class="container toggle">
                    <div class="table-responsive mt-5">

                      <table class="table table-hover table-dark ">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Place name</th>
                              <th scope="col">Place type</th>
                              <th scope="col">Gover</th>
                              <th scope="col">Address</th>
                              <th scope="col">Number</th>
                              <th scope="col">Created at</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for shop in shops %}    
                            <tr>
                              <th scope="row">{{forloop.counter}}</th>
                              <td><a href="{{shop.get_absolute_url}}">{{shop.SHname}}</a></td>
                              <td>  {{shop.SHtype}}</td>
                              <td>{{shop.get_SHgover_display}}</td>
                              <td>  {{shop.SHaddress}}</td>
                              <td>{{shop.SHnum}}</td>
                              <td> {{shop.SHcreated_dt}}</td>
                          {% empty %}  
                            <p class="clo alert alert-danger text-center"><strong> NO PLACES HAS FOUND!!!</strong></p>
                          {% endfor %}  
                          </tbody>
                        </table>
      </div>
 

  </div>
                 
        </p>
      </div>
    </section>

  </main>
  {# End #main #}

{% endblock main %}