{% extends 'base.html' %}

{% block title %}
Products
{% endblock title %}

{% block main %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Products</h2>
          <ol>
            <li><a href="{% url 'address:home' %}">Home</a></li>
            <li>Products</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page pt-4">
      <div class="container">
        <p class="m-5">
          <form method="GET">
             <div class="row">
                  <div class="col">
                    <input name="product-bar" class="form-control form-control-lg" type="text" placeholder="Produ...">
                  </div>
                  <div class="col">
                    <select name="gover-bar" class="form-control form-control-lg">
                        <option selected>Choose...</option>
                        {% for key, value in govs %}
                        <option value="{{key}}">{{ value }}</option>
                        {% endfor %}  
                    </select>
                  </div>
              </div>
            <button type="submit" class="btn btn-dark btn-lg btn-block mt-3">Search</button>
          </form>
          <div class="table-responsive mt-5">
            <table class="table table-hover table-dark ">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Category</th>
                    <th scope="col">Shop</th>
                    <th scope="col">Gover</th>
                    <th scope="col">address</th>
                    <th scope="col">image</th>
                    <th scope="col">refrance</th>
                  </tr>
                </thead>
                <tbody>
                {% for product in products %}    
                  <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{product.PRname}}</td>
                    <td>{{product.PRdesc}}</td>
                    <td>{{product.PRcategory}}</td>
                    <td><a href="{{product.PRshop.get_absolute_url}}">{{product.PRshop}}</a></td>
                    <td>{{product.PRshop.get_SHgover_display }}</td>
                    <td>{{product.PRshop.SHaddress}}</td>
                    <td>
                        {% if product.PRref %}
                            <a href="{{product.PRref_img}}">image</a>
                        {% else %}
                          None
                        {% endif %}      
                    </td>
                    <td>
                        {% if product.PRref %}
                            <a href="{{product.PRref}}">ref link</a>
                        {% else %}
                          None
                        {% endif %}      
                    </td>
                  </tr>
                {% empty %}  
                  <p class="clo alert alert-danger text-center"><strong> NO PRODUCTS HAS FOUND!!</strong></p>
                {% endfor %}  
                </tbody>
              </table>
            </div>  
        </p>
      </div>
    </section>

  </main>
  <!-- End #main -->

{% endblock main %}