{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html dir="auto" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}{% endblock title %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  {# Favicons #}
  <link href="{% static 'img/dalil-icon.png' %}" rel="icon">
  <link href="{% static 'img/dalil-big-icon.png' %}" rel="dalil-big-icon">

  {# Google Fonts #}
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

  {# CSS Files #}
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/modal-video.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/aos.css' %}" rel="stylesheet">

  {# Template Main CSS File #}
  <link href="{% static 'css/style.css' %}?{% now 'U' %}" rel="stylesheet">
  {% block extracss %}
  {% endblock extracss %}

</head>

<body>

  {# ======= Header ======= #}


      
        <nav id="header" class="navbar navbar-expand-lg navbar-light header" style="background-color: #C0C0C0;">
              <a class="navbar-brand mx-3" href="{% url 'address:home' %}"><img class="nav-logo d-inline-block align-top" src="{% static 'img/dalil-logo.png' %}" alt="Dalil"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
              </button>
        
          <div class="collapse navbar-collapse mx-3" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item {% block nav_home %} {% endblock %}">
                      {% translate "Home" as hometr %}
                      <a class="nav-link" href="{% url 'address:home' %}"> <i class="fa fa-fw fa-home"></i>{{hometr}}</a>
                    </li>
                    <li class="nav-item {% block nav_places %} {% endblock %}">
                      {% translate "Places" as placestr %}
                      <a class="nav-link" href="{% url 'address:place_list' %}"><i class="fa fa-map-signs"></i>{{placestr}}</a>
                    </li>
                    <li class="nav-item {% block nav_products %} {% endblock %}">
                      {% translate "Products" as protr %}
                      <a class="nav-link" href="{% url 'address:product_list' %}"><i class="fa fa-fw fa-book"></i>{{protr}}</a>
                    </li>
                    <li class="nav-item {% block nav_about %} {% endblock %}">
                      {% translate "About us" as abouttr %}
                      <a class="nav-link" href="{% url 'contact:about_us' %}"><i class="fa fa-id-card-o"></i>{{abouttr}}</a>
                    </li>
                      <li class="nav-item {% block nav_contact %} {% endblock %}">
                        {% translate "Contact us" as contacttr %}
                        <a class="nav-link" href="{% url 'contact:contact_us' %}"> <i class="fa fa-fw fa-envelope"></i>{{contacttr}}</a>
                      </li>
                      {% load i18n %}

<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="Go">
</form>

                  </ul>
                  {% if user.is_authenticated %} 
                  <li class="nav-item dropdown form-inline my-2 my-lg-0 mx-3 ">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {% translate "Welcome," %} {{user.username}}
                    </a>
                    <div class="dropdown-menu mr-3 " aria-labelledby="navbarDropdown">
                      
                      <a class="dropdown-item" href="{{ request.user.user_profile.get_absolute_url }}">
                        <i class="fa fa-user mr-2"></i>{% translate "My profile" %}
                      </a>
                      
                      <a class="dropdown-item" href="{% url 'accounts:edit_profile' %}">
                        <i class="fa fa-pencil-square-o mr-2"></i>{% translate "Edit profile" %}
                      </a>
                      <a class="dropdown-item {% block nav_change_pass %} {% endblock %}" href="{% url 'accounts:password_change' %}">
                        <i class="fa fa-key mr-2"></i>{% translate "Change password" %}
                      </a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item {% block nav_add_place %} {% endblock %}" href="{% url 'address:add_place' %}">
                        <i class="fa fa-plus mr-2"></i>{% translate "Add place" %}
                      </a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="{% url 'accounts:logout' %}">
                        <i class="fa fa-sign-out mr-2"></i>{% translate "Logout" %}
                      </a>
                    </div>
                  </li>  
              {% else %}
                    <li class="nav-item form-inline my-2 my-lg-0 mx-1">
                      <a href="{% url 'accounts:login' %}" class="btn btn-sm btn-outline-secondary">
                        <i class="fa fa-sign-in mr-2"></i>{% translate "Login" %}
                      </a>
                    </li>
                    <li class="nav-item form-inline my-2 my-lg-0 mx-1">
                      <a href="{% url 'accounts:signup' %}" class="btn btn-sm btn-outline-secondary">
                        <i class="fa fa-user-plus mr-2"></i>{% translate "Sign up"%}
                      </a>
                    </li>
                  </ul>
              {% endif%}
          </div>
        </nav>
{# End Header #}

 {% block main %} 
 
 {% endblock main %}

  {#  ======= Footer ======= #}
  <footer class="footer">
    <div class="container">
      <div class="row">

        <div class="col-md-12 col-lg-4">
          <div class="footer-logo">

            <a class="navbar-brand" href="{% url 'address:home' %}"><img class="footer-logo" src="{% static 'img/dalil-logo.png' %}"></a>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4><a class="nav-link" href="{% url 'address:place_list' %}"><i class="fa fa-map-signs"></i>{{placestr}}</a></h4>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4><a class="nav-link" href="{% url 'address:product_list' %}"><i class="fa fa-fw fa-book"></i>{{protr}}</a></h4>


          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4><a class="nav-link" href="{% url 'contact:contact_us' %}"> <i class="fa fa-fw fa-envelope"></i>{{contacttr}}</a></h4>


          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4><a class="nav-link" href="{% url 'contact:about_us' %}"><i class="fa fa-id-card-o"></i>{{abouttr}}</a></h4>

          </div>
        </div>

      </div>
    </div>

    <div class="copyrights">
      <div class="container">
        {% now "Y" as current_year %}
        <p>&copy; {{ current_year }} All rights reserved.</p>
        <div class="credits">

          Devoloped by <a href="https://github.com/mohamed-shaheen">Mohamed shaheen<i class="fa fa-github "></i></a>
        </div>
      </div>
    </div>

  </footer>
  {# End  Footer #}

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  {# JS Files #}
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.min.js' %}"></script>
  <script src="{% static 'js/modal-video.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/superfish.min.js' %}"></script>
  <script src="{% static 'js/hoverIntent.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>

  {# Template Main JS File #}
  <script src="{% static 'js/main.js' %}"></script>
  {% block extrajs %}
  {% endblock extrajs %}

</body>

</html>